*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "微软雅黑",sans-serif;
}
/*页面背景*/
body{
    background-color: #121212;
    color:#fff;

}
/*顶部导航栏*
/*导航栏*/
.nav-bar{
    width: 100%;
    height: 60px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.logo img{
    height: 40px;
}
.nav-menu{
    display: flex;
    list-style: none;
}
.nav-menu li{
    margin: 0 15px;
}
.nav-menu li a{
    color:#fff;
    text-decoration: none;
    font-size: 16px;
}
.user-touxiang img{
    height: 30px;
    border-radius: 100%;
    margin-right: 15px;
}
.login-btn{
    height: 35px;
    padding: 0 20px;
    background: #e63946;
    border:none;
    color: #fff;
    border-radius: 4px;
    cursor:pointer;
}
/*特工列表容器 */
.card-list{
    display: flex;
    gap: 10px;
    padding: 30px 20px;
    overflow-x: auto;
    scrollbar-width: none;
    width: 100%;
}
.card-list::-webkit-scrollbar{
    display: none;
}
/*特工卡核心样式*/
.character-card{
  width: 120px;
 height: 220px;
  opacity: 0.3;
  overflow: hidden; 
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  align-self: flex-end;
  flex-shrink: 0;

}
.character-card:hover{
    opacity: 1;
    overflow: visible;
    transform: scale(1.15);/*放大1.15倍*/
    z-index: 10;/*提高层级，让它在最高层*/
    height: auto;
}
.card-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    border: 2px solid transparent;

}
.character-card:hover .card-img{
    border-color: #e13b50;/*hover时显示红色边框*/
}
.card-name{
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 3px #000;
}